.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

.keepModal {
  width: 100%;
}
.keeprGreen {
  color: rgb(76, 236, 188);
}
.keeprBGColor{
  background-color: rgb(76, 236, 188);
}
.keeprBtnColor{
  background-color: rgb(8, 175, 137);
}
